h1 {
    font-family: 'Lobster', cursive;
    font-size: rem(32px);
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin: .67em 0
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: rem(24px);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin: .75em 0
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: rem(19px);
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: .83em 0
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: rem(16px);
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: rem(15px);
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin: 1em 0
}